**/node_modules/
**/lib/
proxyclient/data/apiKeys.json
proxyclient/logs
**/bac/
**/scripts/**
!**/scripts/app.js
!proxyclient/scripts/
proxyclient/scripts/googleTest.py
proxyclient/scripts/WOTtest.py
**/extra/
