head
  style.
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
div
  img.center(src='/images/firegate-logo.png')
  #reason.center
    | #{reason}
    p
  script.
